---
layout: page
# All the Categories of Aulas
---

<!-- Estilos CSS personalizados -->
{% include my-styles.html %}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Planejamento</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#infraestrutura"
      >Infraestrutura</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#robotica">Robótica</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#carreira"
      >Planejamento de Carreira</a
    >
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="home">
    <div class="panel-heading">
      Planejamento das aulas do primeiro semestre de 2023
    </div>
    <div class="panel-body">
      <ul>
        <li>Infraestrutura de Redes</li>
        <li>Noções de Robótica</li>
        <li>Planejamento de carreira</li>
        <li>Profissão e Formação</li>
      </ul>
    </div>
  </div>

  <div class="tab-pane container fade" id="infraestrutura">
    <div class="panel-heading">Infraestrutura de Redes</div>
    <div class="panel-body">
      Implementação de redes locais; segurança de redes; comunicação de dados.
      <ul>
        {% for post in site.posts %} {% for tag in post.tags %} {% if tag ==
        "infraestrutura" %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endif %} {% endfor %} {% endfor %}
      </ul>
    </div>
  </div>

  <div class="tab-pane container fade" id="robotica">
    <div class="panel-heading">Noções de Robótica</div>
    <div class="panel-body">
      Conceitos eletrônicos com uso de sensores e atuadores que juntos podem
      realizar ações automatizadas.
      <ul>
        {% for post in site.posts %} {% for tag in post.tags %} {% if tag ==
        "robótica" %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endif %} {% endfor %} {% endfor %}
      </ul>
    </div>
  </div>

  <div class="tab-pane container fade" id="carreira">
    <div class="panel-heading">Planejamento de Carreira</div>
    <div class="panel-body">
      Mercado de trabalho de tecnologia da informação.
      <ul>
        {% for post in site.posts %} {% for tag in post.tags %} {% if tag ==
        "carreira" %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endif %} {% endfor %} {% endfor %}
      </ul>
    </div>

    <div class="panel-heading">Profissão e Formação</div>
    <div class="panel-body">
      Áreas de atuação em tecnologia. Ambiente profissional, graduação.
      <ul>
        {% for post in site.posts %} {% for tag in post.tags %} {% if tag ==
        "profissão" %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endif %} {% endfor %} {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- /tab-content -->
