---
layout: page
# All the Categories of Aulas
---

<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Escola Profissional</h2>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="panel-body">
        <h4>Planejamento de Carreira</h4>
        <p>
          Conceitos básicos de mercado de trabalho. Introdução ao mercado de
          tecnologia da informação.
        </p>
        <a
          href="https://jocile.com/categories/planejamento-de-carreira/"
          class="btn btn-primary"
          >Acessar</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-car fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="panel-body">
        <h4>Noções de Robótica</h4>
        <p>
          conceitos eletrônicos e o uso de sensores e atuadores que juntos podem
          realizar ações automatizadas.
        </p>
        <a
          href="https://jocile.com/categories/no%C3%A7%C3%B5es-de-rob%C3%B3tica/"
          class="btn btn-primary"
          >Acessar</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-support fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="panel-body">
        <h4>Infraestrutura de Redes</h4>
        <p>
          Implementação de redes locais; Introdução à segurança de
          infraestruturas de redes de computadores; Introdução à comunicação de
          dados
        </p>
        <a
          href="https://jocile.com/categories/infraestrutura-de-redes/"
          class="btn btn-primary"
          >Acessar</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-database fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="panel-body">
        <h4>Profissão e Formação</h4>
        <p>
          Áreas de atuação em tecnologia da informação. Ambiente profissional,
          comunicação.
        </p>
        <a
          href="https://jocile.com/categories/profiss%C3%A3o-e-forma%C3%A7%C3%A3o/"
          class="btn btn-primary"
          >Acessar</a
        >
      </div>
    </div>
  </div>
</div>
